<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
        body {
            word-wrap: break-word;
            width:100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1>
                <span class="far fa-comments">Chaddon</span>
            </h1>
           
        </div>
        <div class="row">
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
   
                <div class="dropdown show">
                        <h4>
                                <span class="fa fa-user"></span> Guest</h4>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user">Local</span>
                              </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <% if (user.local.email) { %>
                            <a class="dropdown-item" href="/unlink/local">Unlink</a>
                            <% } else { %>
                                <a class="dropdown-item" href="/connect/local">Connect</a>
                                <% } %>
                    </div>
                </div>
                <% if (user.local.email) { %>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsGuest" aria-expanded="false" aria-controls="collapsGuest">
                        View Guest Data
                      </button>
                      <% } %>
                    <div class="collapse" id="collapsGuest">
                      <div class="card card-body">
                            <% if (user.local.email) { %>
                                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                                <p><strong>id</strong>:
                                    <%= user._id %>
                                        <br>
                                        <strong>email</strong>:
                                        <%= user.local.email %>
                                            <br>
                                            <strong>password</strong>:
                                            <%= user.local.password %>
                                </p>
                        
                                <% } else { %>
                                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                    <% } %>                      </div>
                    </div>
            </div>
        </div>

    </div>




        <!-- LOCAL INFORMATION -->
        <!-- <div class="row"> -->
        <!-- <div class="col-sm-6">
                <div class="well">
                    <% if (user.local.email) { %>
                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <p><strong>id</strong>:
                            <%= user._id %>
                                <br>
                                <strong>email</strong>:
                                <%= user.local.email %>
                                    <br>
                                    <strong>password</strong>:
                                    <%= user.local.password %>
                        </p>

                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>

                </div>
            </div> -->
        <!-- GOOGLE INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h4 class="text-danger">
                    <span class="fa fa-google-plus"></span> Google+</h4>
                <% if (user.google.token) { %>
                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                    <p>
                        <strong>id</strong>:
                        <%= user.google.id %>
                            <br>
                            <strong>token</strong>:
                            <%= user.google.token %>
                                <br>
                                <strong>email</strong>:
                                <%= user.google.email %>
                                    <br>
                                    <strong>name</strong>:
                                    <%= user.google.name %>
                    </p>

                    <% } else { %>
                        <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                        <% } %>

            </div>
        </div>

    </div> -->
    <div class="container">
            <!-- GOOGLE INFORMATION -->
            <div class="row">
            <div class="col-sm-6">

                    <div class="dropdown show">
                            <h4 class="text-danger">
                                    <span class="fa fa-google-plus">Google+</span> 
                                </h4>

                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-google-plus">Google</span>
                              </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <% if (user.google.token) { %>
                            <a class="dropdown-item" href="/unlink/google">Unlink Google</a>
                            <% } else { %>

                                <a class="dropdown-item" href="/connect/google">Connect Google</a>
                                <% } %>
                    </div>
            </div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseGoogle" aria-expanded="false" aria-controls="collapseGoogle">
                    View Google Data
                  </button>
                </p>
                <div class="collapse" id="collapseGoogle">
                  <div class="card card-body">
                        <% if (user.google.token) { %>
                            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                            <p>
                                <strong>id</strong>:
                                <%= user.google.id %>
                                    <br>
                                    <strong>token</strong>:
                                    <%= user.google.token %>
                                        <br>
                                        <strong>email</strong>:
                                        <%= user.google.email %>
                                            <br>
                                            <strong>name</strong>:
                                            <%= user.google.name %>
                            </p>
        
                            <% } else { %>
                                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                                <% } %>                  </div>
                </div>
        </div>
    </div>

    
        
        
    </div>
    <div class="text-center">
            <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
            <p>
                <a href="http://chaddon.ca" target="_blank">Chaddon.ca </a> | <a href="#" target="_blank"> Privacy Policy</a>
            </p>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>

</html>